RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /Curso/Curso_MVC_1_passos/index.php?url=$1 [QSA,L]
#RewriteRule ^(.*)$ /index.php?url=$1 [QSA,L]